<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Details</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    
    <h3> Name: {{object.resta_name}}</h3>
    <p>Address: {{object.resta_address}}</p>
    <p> AC/NON-AC: {{object.has_AC}}</p>
    <p>Delivery option: {{object.has_delivery}} </p>
    <p>Contact NO: {{object.resta_contact}}</p>
    <p>Parking: {{object.has_parking}}</p>
    <p>Place: {{object.resta_place}}</p>
    <p>
        Type: {{object.restaurant_type}}
    </p>

        <a href="{% url 'restaurant_update' object.id %}"><button type="button" class="btn btn-success">Update</button></a>

</body>
</html>