<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurants</title>
    <link rel="stylesheet" href="restuarant.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="st.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
</head>
<body  onLoad="showSlides(); viewSlides();">

    <!--Navigation Bar-->

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{% url 'hospitals' %}"><i class="fa fa-plus space" aria-hidden="true"></i>Hospitals</a>
        <a href="{% url 'hotels' %}"><i class="fa fa-bed space" aria-hidden="true"></i>Hotels</a>
        <a href="{% url 'cinemahalls' %}"><i class="fa fa-film space" aria-hidden="true"></i>Cinema Halls</a>
        <a href="{% url 'shoppingcomplex' %}"><i class="fa fa-shopping-cart space" aria-hidden="true"></i>Shopping Malls</a>
        <a href="#"><i class="fa fa-cutlery space" aria-hidden="true"></i>Restaurants</a>
        <a href="#"><i class="fa fa-shopping-bag space" aria-hidden="true"></i>Shops</a>
        <a href="{% url 'show' %}"><i class="fa fa-text-width space" aria-hidden="true"></i>Attractions</a>
      </div>


<nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
  <button style="color: white;" class="btn btn-primary" onclick="openNav()"&#9776;>
    <i style="color: white;" class="fa fa-bar"><i class="fa fa-bars" aria-hidden="true"></i></i></button>  
    <div class="container-fluid">
      <span style="color: white;" class="navbar-brand mb-0 h1">Search & Pick services</span>
      
      
     
    <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a style="color: white;" class="nav-link" href="{% url 'homepage' %}"><i style="color: white;" class="fa fa-home space"></i>Home</a>
      </li>

        <li class="nav-item">
            <a style="color: white;" class="nav-link" href="{% url 'contact' %}"><i style="color: white;" class="fa fa-phone space"></i>Contact</a>
        </li>
        <li class="nav-item"><a style="color: white;" class="nav-link" href="{% url 'help' %}">
          <i style="color: white;" class="fa fa-question-circle"></i>
          Help
        </a></li>
        <li class="nav-item">
          <a style="color: white;" class="nav-link" href="/">
            <i style="color: white;" class="fa fa-sign-out"></i>
            Logout
        </a>

      </li>


    </ul>
  


</div>
</nav>
    
<!--Heading-->



<br>
<h1><center>You Are Now Looking Restaurants In SriCity</center></h1>
<br>

  

<!--Slide Show-->

  <div class="slideshow-container1">

    <div class="mySlides fade">
      <div class="numbertext">1 / 5</div>
      <img src="https://tse3.mm.bing.net/th?id=OIP.tqb_a5chfTjTXyg70JF69AHaE8&pid=Api&P=0&w=234&h=157" style="max-width:100%;width:100%;height:15%">
      <!-- <div class="text">Caption Text</div> -->
    </div>
    
    <div class="mySlides fade">
      <div class="numbertext">2 / 5</div>
      <img src="https://images.firstpost.com/wp-content/uploads/2017/06/Untitled-design-3.jpg" style="max-width:100%;width:100%;height:15%;">
      <!-- <div class="text">Caption Two</div> -->
    </div>
    
    <div class="mySlides fade">
      <div class="numbertext">3 / 5</div>
      <img src="http://media.istockphoto.com/vectors/happy-big-family-eating-dinner-together-vector-illustration-vector-id685499812?k=6&m=685499812&s=612x612&w=0&h=pJTquDNFN4_Wr8htyRvCuSIQuhBXbShfCHIKpd9GS04=" style="max-width:100%;width:100%;height:15%;">
      <!-- <div class="text">Caption Three</div> -->
    </div>

    <div class="mySlides fade">
      <div class="numbertext">4 / 5</div>
      <img src="https://tse4.mm.bing.net/th?id=OIP.TC7jNgc23MpYMMJICnzWEQHaEK&pid=Api&P=0&w=268&h=151" style="max-width:100%;width:100%;">
      <!-- <div class="text">Caption Three</div> -->
    </div>

    <div class="mySlides fade">
      <div class="numbertext">5 / 5</div>
      <img src="https://tse4.mm.bing.net/th?id=OIP.lFMBiCHg-nFk1ZslDVJgFQHaEO&pid=Api&P=0&w=295&h=169" style="max-width:100%;width:100%;">
      <!-- <div class="text">Caption Three</div> -->
    </div>
    
   </div>
    <br>
    
    <div style="text-align:center">
      <span class="dot" ></span> 
      <span class="dot" ></span> 
      <span class="dot" ></span> 
      <span class="dot" ></span> 
      <span class="dot" ></span> 
 </div>
  <br>
    <h3><center>Here is what we found for you</center></h3>
    <br>


<!--Display of Content-->
    

  <section class = "s1">
      <div class="temp-row">
        <div class="temp-left">
          <img src="https://tse2.mm.bing.net/th?id=OIP.RJ1GyQ2SnQSfz6idtJHIUwHaE8&pid=Api&P=0&w=240&h=161" width= 45% height= 250px style="vertical-align:top;max-width:100%">
        </div>

        <div class="temp-right">
          <h1>Krishna Restaurants</h1>
          <p>Address:Stonehousepeta,Nellore</p>
          <p>Place:Andhra Pradesh</p>
          <p>Contact:6346xxxxx</p>
          <a href="https://www.trivago.in/" target="_blank">Link for booking</a>
        </div>
      </div>
  </section>

  <section class = "s1">
    <div class="temp-row">
      <div class="temp-left">
        <img src="https://tse3.mm.bing.net/th?id=OIP.v2V7QbyCruVQkep-VYF4owHaFk&pid=Api&P=0&w=213&h=161" width= 45% height= 250px style="vertical-align:top;max-width:100%">
      </div>

      <div class="temp-right">
        <h1>SaiRam Restaurants</h1>
        <p>Address:Stonehousepeta,Nellore</p>
          <p>Place:Andhra Pradesh</p>
          <p>Contact:6346xxxxx</p>
        <a href="https://www.trivago.in/" target="_blank">Link for booking</a>
      </div>
    </div>
</section>

  
     





    <br>
    <br>
    
    
<section style="background-color: #3d84a8;" id="footer">
        <center>
            <div class="title-text">
            <h2><b>Thank You For Visiting Our Website <i class="fa fa-smile-o" aria-hidden="true"></i></b></h2>
            
            </div>
        </center>

            <div class="footer-row">
                <div class="footer-left">
                    <a href="{% url 'aboutus' %}"><h1>About Us</h1><a>
                    <p>Hello, Welcome to 'Search and pick'. </p>
                    <p>We help you to get best services in a particular location you selected</p>
                </div>
                <div class="footer-right">
                        <h1>Get In Touch</h1>
                        <p>Address: #30 abc colony, xyz city <i class="fa fa-map-marker" aria-hidden="true"></i></p>
                        <p>Mail: example@gmail.com <i class="fa fa-paper-plane" aria-hidden="true"></i></p>
                        <p>Phone number: 1223334521 <i class="fa fa-phone" aria-hidden="true"></i></p>
                </div>




    </section>


    

    <script src="{% static 'restaurants/js/restuarant.js'%}">
    
    </script>
