<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail View</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <img src="{{object.shoppingcomplex_image.url}}" class="img-circle" width=50%>
    <h2>{{ object.shoppingcomplex_name}}</h2>
    <p>{{object.shoppingcomplex_address}}</p>
    <p>{{object.shoppingcomplex_hasFloors}}</p>
    <p>{{object.shoppingcomplex_place.place_name}}</p>
    <p>{{object.shoppingcomplex_contactinfo}}</p>

    <a href="{% url 'shoppingcomplex_update' object.id %}"><button type="button" class="btn btn-success">Update</button></a>
</body>
</html>