{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<br>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{% static 'Visitplace/attraction.css'%}">
    <script src="{% static 'hotels/js/hotel.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="st.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  
   <link rel="stylesheet" href="{% static 'authentication/styles1.css' %}">
</head>

<body>

	
<h1 style="text-align:center">Our Team</h1>
<br>


<div class="R1">
  <div class="col1">
    <div class="card">
      <img src="https://tse1.mm.bing.net/th?id=OIP.PdnBbUu9bw9qJ1763kZXfgHaHv&pid=Api&P=0&w=300&h=300" alt="Aditya" style="width:30%">
      <div class="container2">
        <h2>K Aditya</h2>
        <p class="title">Project Head</p>
        <p>S20190010104</p>
        <p>vallinarasimhaswamy.k19@iiits.in</p>
     <a class="nav-link" href="{% url 'contact' %}"><p><button class="but10">Contact</button></p></a>
      </div>
    </div>
  </div>

  <div class="col1">
    <div class="card">
      <img src="https://tse1.mm.bing.net/th?id=OIP.PdnBbUu9bw9qJ1763kZXfgHaHv&pid=Api&P=0&w=300&h=300" alt="Madhesh" style="width:30%">
      <div class="container2">
        <h2>M Madhesh</h2>
        <p class="title">Project Member</p>
        <p>S20190010118</p>
        <p>madhesh.m19@iiits.in</p>
       <a class="nav-link" href="{% url 'contact' %}"><p><button class="but10">Contact</button></p></a>
      </div>
    </div>
  </div>
  
  <div class="col1">
    <div class="card">
      <img src="https://tse4.mm.bing.net/th?id=OIP.53xvIU96J8F6TBBXm1aa7wHaHa&pid=Api&P=0&w=300&h=300" alt="Nishita" style="width:30%">
      <div class="container2">
        <h2>U Nishita</h2>
        <p class="title">Project Member</p>
        <p>S20190010184</p>
        <p>nishita.u19@iiits.in</p>
       <a class="nav-link" href="{% url 'contact' %}"><p><button class="but10">Contact</button></p></a>
      </div>
    </div>
  </div>


  <div class="col1">
    <div class="card">
      <img src="https://tse4.mm.bing.net/th?id=OIP.53xvIU96J8F6TBBXm1aa7wHaHa&pid=Api&P=0&w=300&h=300" alt="Varshini" style="width:30%">
      <div class="container2">
        <h2>K Varshini</h2>
        <p class="title">Project Member</p>
        <p>S20190010103</p>
        <p>venkatasaivarshini.k19@iiits.in</p>
        <a class="nav-link" href="{% url 'contact' %}"><p><button class="but10">Contact</button></p></a>
      </div>
    </div>
  </div>


  <div class="col1">
    <div class="card">
      <img src="https://tse4.mm.bing.net/th?id=OIP.53xvIU96J8F6TBBXm1aa7wHaHa&pid=Api&P=0&w=300&h=300" alt="Lilly" style="width:30%">
      <div class="container2">
        <h2>Biswas Lilly</h2>
        <p class="title">Project Member</p>
        <p>S20190010022</p>
        <p>lillykumari.b19@iiits.in</p>
        <a class="nav-link" href="{% url 'contact' %}"><p><button class="but10">Contact</button></p></a>
      </div>
    </div>
  </div>



</div>



</body