{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<br>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" href="{% static 'Visitplace/attraction.css'%}">
    <script src="{% static 'hotels/js/hotel.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <!-- <link rel="stylesheet" href="st.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  
    <link rel="stylesheet" href="{% static 'authentication/styles1.css' %}">
</head>
<body style="background-color: white;">
<!-- 
<style>


.solid {
  margin: 16px 20px;
  border-left-style: solid;
  {% comment %} border-left-color: #0000ff; {% endcomment %}
  border-left: 10px solid 	#0040ff;
  background-color: #0080ff;
  margin-right: 160px;
  margin-left: 180px;
  color: white;
  overflow: hidden;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

</style>

 -->

<center><h1><b>Our Contact Details</b></h1></center>
<br>


<div class="solid"><center>
 <h1> Name : KOTA VENKATA SAI VARSHINI</h1><br>
          <h3> Email ID : venkatasaivarshini.k19@iiits.in &#9993;</h3><br>
          <h3> Linkedin ID : Varshini </h3><br>
          <h3> About : Student in Indian Institue of Information Technology,Sricity</h3><br> 
          </center>
</div> 
<br><br>

<div class="solid"><center>
 <h1> Name : UPPALA NISHITA</h1><br>
          <h3> Email ID : nishita.u19@iiits.in </h3><br>
          <h3> Linkedin ID : Nishita Uppala </h3><br>
          <h3> About : Student in Indian Institue of Information Technology,Sricity</h3><br> 
          </center>
</div> 


<br><br>

<div class="solid"><center>
 <h1> Name : BISWAS LILLY KUMARI</h1><br>
          <h3> Email ID : lillykumari.b19@iiits.in </h3><br>
          <h3> Linkedin ID : Lilly Biswas </h3><br>
          <h3> About : Student in Indian Institue of Information Technology,Sricity</h3><br> 
          </center>
</div> 



<br><br>
<div class="solid"><center>
 <h1> Name : ADITYA KOTIKALPUDI</h1><br>
          <h3> Email ID : vallinarasimhaswamy.k19@iiits.in </h3><br>
          <h3> Linkedin ID : Aditya </h3><br>
          <h3> About : Student in Indian Institue of Information Technology,Sricity</h3><br> 
          </center>
</div> 
<br><br>

<div class="solid"><center>
 <h1> Name : MADHESH MEDASANI</h1><br>
          <h3> Email ID : madhesh.m19@iiits.in </h3><br>
          <h3> Linkedin ID : Madhesh M </h3><br>
          <h3> About : Student in Indian Institue of Information Technology,Sricity</h3><br> 
          </center>
</div> 





</body>